<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #0f1c3f;">
    <a href="/" class="brand-link text-center">
        <span class="brand-text font-weight-bold text-white">GREENALU ERP</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                
                <li class="nav-header">KHO VẬT TƯ</li>
                <li class="nav-item">
                    <a href="/nhap-kho/" class="nav-link">
                        <i class="nav-icon fas fa-truck-loading"></i>
                        <p>Nhập kho</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/stock/materials/" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>Tồn kho NVL</p>
                    </a>
                </li>

                <li class="nav-header">SẢN XUẤT</li>
                <li class="nav-item">
                    <a href="/production/orders/" class="nav-link">
                        <i class="nav-icon fas fa-industry"></i>
                        <p>Lệnh Sản Xuất</p>
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="/production/weighing/" class="nav-link">
                        <i class="nav-icon fas fa-balance-scale"></i>
                        <p>Phiếu Cân</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>